{{!-- <div>

    {{#with main}}
    <section>
        {{>title data="My projects" big=true}}
        <ul>
            {{#each projects}}
            <li>
                <div>
                    {{>link text="GitHub" href=github noLine=true blank=true}}
                </div>
                <div>
                    {{>title data=name}}
                </div>
                <div>
                    <p>
                        {{about}}
                    </p>
                </div>
                <div>
                    <em>
                        Project stacks ({{stackAmount}})
                    </em>
                </div>
                <br>
                <div>
                    <ul>
                        {{#each stacks}}
                        <li>
                            {{name}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <br>
                <div>
                    <em>
                        Project awards
                    </em>
                </div>
                <br>
                <div>
                    <ul>
                        {{#each awards}}
                        <li>
                            {{name}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <br>
            </li>
            {{/each}}
        </ul>
        {{/with}}
    </section>

</div> --}}