{{#if dataHot}}
<span class="badge rounded-pill  bg-warning">НОТ!</span>
{{/if}}
{{#if dataNew}}
<span class="badge rounded-pill bg-primary">Нове</span>
{{/if}}
{{#if dataFast}}
<span class="badge bg-success">Швидка доставка</span>
{{/if}}
{{#if dataFree}}
<span class="badge bg-secondary">Безкоштовна доставка</span>
{{/if}}